{% extends 'base.html' %} {% block body %}

<div class="dash-Content">
  <h3>Biography</h3>

  <div class="bios">
    <h2>Hi, I'm <span> Nkosinathi. </span></h2>

    <p>I'm a <span>Full-Stack</span> self - tought <span>Developer</span></p>
    
    <p>
      Artificial Inteligence <span>AI/ML</span> and Internet Of Things <span>IOT</span> is amoung my favourit within thech tech world.
    </p>

    <p>
      I am the the founder of <span>Simply Marrions.</span> A tech company
      aiming to building solutions that simplyfies our day to day lives.
    </p>

    <p>
      Among my hobbies I am a <span>musician.</span> I play electric guitar,
      bass guitar and the piano.
    </p>
    <p>I love watching <span>SUB</span> anime</p>
  </div>
</div>
{% endblock body %}
